[project]
	description = testing gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ofek Gila (ofekih)
[access "refs/for/refs/*"]
	read = group user/Ofek Gila (ofekih)
	push = group user/Ofek Gila (ofekih)
	label-Code-Review = -2..+2 group user/Ofek Gila (ofekih)
	label-Verified = -1..+1 group user/Ofek Gila (ofekih)
	rebase = group user/Ofek Gila (ofekih)
	removeReviewer = group user/Ofek Gila (ofekih)
	submit = group user/Ofek Gila (ofekih)
[access "refs/heads/*"]
	read = group user/Ofek Gila (ofekih)
	create = group user/Ofek Gila (ofekih)
	push = +force group user/Ofek Gila (ofekih)
	pushMerge = group user/Ofek Gila (ofekih)
[access "refs/tags/*"]
	push = group user/Ofek Gila (ofekih)
	push = +force group user/Ofek Gila (ofekih)
